<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

    <!-- Local Files -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <!-- Libraries -->
</head>
<body>
    <h1>Cart</h1>

  <div class="navbar">
    <a href="/index">Home Page</a>
    <div class="search-container">
      <form action="/search" method="get">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Search</button>
      </form>
    </div>
    <a href="/login">Login/Signup</a>
    <a href="/cart">Cart</a>
  </div>
    <div>
      <h1>Cart</h1>
      <% if (cart && Object.keys(cart).length > 0) { %>
        <ul>
          <% let totalPrice = 0; %>
          <% Object.entries(cart).forEach(([productId, quantity]) => { %>
            <% const product = products.find(prod => prod._id.toString() === productId); %>
            <% if (product) { %>
              <% const productPrice = product.DevicePrice * quantity; %>
              <li>
                <p>Product Name: <%= product.DeviceName %></p>
                <p>Price: <%= product.DevicePrice %></p>
                <p>Quantity: <%= quantity %></p>
                <p>Total Price: $<%= productPrice %></p>
                <% totalPrice += productPrice; %>
                <form action="/removeFromCart" method="post">
                  <input type="hidden" name="productId" value="<%= productId %>">
                  <button type="submit">Remove</button>
                </form>
              </li>
            <% } %>
          <% }); %>
        </ul>        
        <p>Total: $<%= totalPrice %></p>
        <a href="/payment">Payment</a>
      <% } else { %>
        <p>Your cart is empty.</p>
      <% } %>
    </div>
</body>
</html>