<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Local Files -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <!-- Libraries -->
</head>
<body>
  <div class="navbar">
    <a href="/index">Home Page</a>
    <div class="search-container">
      <form action="/search" method="get">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Search</button>
      </form>
    </div>
    <a href="/login">Login/Signup</a>
    <a href="/cart">Cart</a>
    <a href="/logout">Log Out</a>
  </div>
  <h1>Welcome <%= user.username %></h1>

<h2>Email: <%= user.email %></h2>
<h2>Phone: <%= user.phone %></h2>
<h2>User Type: <%= user.type %></h2>
<h2>Delivery Address: <%= user.deliveryAddress %></h2>

<h2>Order History:</h2>
<ul>
    <% if (user.orderHistory && user.orderHistory.length > 0) { %>
        <% user.orderHistory.forEach(order => { %>
            <li>
                Order ID: <%= order._id %> - Date: <% if (order.orderDate) { %>
                    <%= order.orderDate.toLocaleString() %>
                <% } %>
                <ul>
                    <% if (order.products) { %>
                        <% order.products.forEach(product => { %>
                            <li><%= product.name %> - Quantity: <%= product.quantity %> - Price: $<%= product.price %></li>
                        <% }) %>
                    <% } %>
                </ul>
            </li>
        <% }) %>
    <% } else { %>
        <li>No orders found.</li>
    <% } %>
</ul>
  <h2>Activity Log:</h2>
  <ul>
      <% user.activityLog.forEach(activity => { %>
          <li><%= activity %></li>
      <% }) %>
  </ul>
</body>
</html>